<h3> Página creada por Thais </h3>
<img src="images/thais.PNG" alt="Thais" >

<h3> Video Presentacion </h3>
<video width=330px controls>
   <source src="http://techslides.com/demos/sample-videos/small.ogv" type="video/ogg">
   <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
</video>

<p> Thais surcó el espacio junto con el Robot Nono y Ulises 31 en busca de su hijo Telémaco.
</p>
